extends layout

block content
  #home.container
    h2 签名校验
    .row
      .col-md-12
        form(action="/signature/verify", method="post")
          .form-group
            label(for="ethereumAddress") 账户
            input.form-control#ethereumAddress(type="text", placeholder="0x...", name="ethereumAddress", value=ethereumAddress)
          .form-group
            label(for="message") 消息内容
            input.form-control#message(type="text", placeholder="输入消息", name="message", value=message)
          .form-group
            label(for="signature") 签名内容 (适用于 eth.sign(address, web3.sha3(message))
            input.form-control#signature(type="text", placeholder="0x...", name="signature", value=signature)
          button.btn.btn-default.pull-right(type="submit") 校验
    if result    
      br
      .row
        .col-md-12
          if result.ok
            .alert.alert-success(role="alert") #{result.ok}
          else
            .alert.alert-danger(role="alert") #{result.error}